[Desktop Entry]
Name=Ro Dark
Comment=Ro Desktop window decoration
X-KDE-PluginInfo-Name=RoDark
X-KDE-PluginInfo-Author=Project Ro-ASD
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-License=GPL-3.0-or-later
