[SddmGreeterTheme]
Name=Ro
Description=Ro Desktop glass login theme
Author=Project Ro-ASD
Copyright=2026 Project Ro-ASD
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=Ro
Theme-API=2.0
